.footer{
    padding-top: 1rem;
    background-color: $background1;
    box-shadow: $shadow;

    .footer__container{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    
        @media (max-width: 500px){
            justify-content: space-evenly;
        }

        .footer__container__icon{
            width: 2em;
        }

        .footer__container__enlace{
            color: $black;
            font-size: 0.9rem;
            letter-spacing: 1px;   

            .footer__container__enlace:hover{
                color: $overlay-color;
            }

        }

    }
   
    .footer__texto{
        text-align: center;
        margin-top: 1rem;
        padding-top: 1rem;

        @media (max-width: 500px){
            font-size: 10px;
        }

    }

}

