$overlay-color: #4c619c99;
$shadow: 2px 2px 10px #000;
$white: #ffffff;
$black: #000000;
$grey: #737373;
$background1: #dcdde1;
$card1: #509edd;
$card2: #c892e7;
$card3: #ff9999;
$card4: #8e9fb3;
$card5: #8c8cd9;
$color-enlace: #2a3232; 
$carousel-control-color: $black;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../img/background/footer_lodyas.png);
    background-size: cover;
    font-family: 'Raleway', sans-serif;
    max-width: 100%;
}

.fondo1{
    background: linear-gradient(#94b7d4, #509edd)
}

.fondo2{
    background: #cfb3df;
}

.fondo3{
    background: #f1b4b4;
}

.fondo4{
    background: #8e9fb3;
}

.fondo5{
    background: #8c8cd9;
}

a{ 
    color: #2a3232;
    text-decoration: none;
    letter-spacing: 1px;

}
