.head{ 
    background-color: $background1;
    box-shadow: $shadow;    
    opacity: .9;

    .head__icono{
        @media (max-width: 604px){
            width: 215px;
        }
    }

    .head__logo{
        width: 20%;
        opacity: .8;

    }

    .head__item{
        margin: 0.5rem;
        text-decoration: none;
        font-weight: bold;
    }
    
    .head__link{
        text-decoration: none;
        font-size: 16px;

        @media (max-width: 1200px){
            font-size: 12px;
        }

    }
}

.header{
    background: url(../img/background/backgroundcanva2.png);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: $shadow; 
    height: auto;
    color: $white;
    text-align: center;

 
    .header__background-overlay{
        background: $overlay-color;
        height: 100%;
 
    }

    .header__main-title{
        font-size: 4em;
        font-weight: bold;

        @media (max-width: 1200px){
            margin-top: 1rem;;
        }

        @media (max-width: 1200px){
            font-weight: normal;
            margin-top: 1rem;
            font-size: 2.2em;
        
        }

    }

    .header__page-title{
        font-size: 3em;
        font-weight: bold;

        @media (max-width: 1200px){
            margin-top: 1rem;;
        }

        @media (max-width: 1200px){
            margin-top: 1rem;
            font-weight: normal;
            font-size: 1.8em;
        
        }
 
    }
   
    .header__title{
        font-size: 2em;

        @media (max-width: 1200px){
            margin-top: 1rem;;
        }

        @media (max-width: 1200px){
            margin-top: 1rem;
            font-size: 1.5em;
        }

    }

    .header__page-subtitle{
        font-size: 2em;

        @media (max-width: 1200px){
            margin-top: 1rem;;
        }

        @media (max-width: 1200px){
            margin-top: 1rem;
            font-size: 1.1em;
        }

    }

    .header__text{
        font-size: 1em;

        @media (max-width: 1200px){
            font-size: 0.9em;
        }

    }

}

