.section{
    margin-top: 2rem;
    margin-bottom: 1rem;

    .section__card{
        background-color: $card1;
        border-color: $black;
        border-radius: 10px;
        transition: all .3s ease-in-out;
        height: 100%;
        text-align: center;

        .section__card-title{
            text-transform: uppercase;
            font-weight: bold;
            
        }

        .section__card-link:hover{
            transform: scale(1.05, 1.05);
            transform-origin: center center;
            color: $white;
            text-decoration: none;
        }

    }
          
    .section__card2{
        @extend .section__card;
        background-color: $card2;
       
    }

    .section__card3{
        @extend .section__card;
        background-color: $card3;
       
    }

    .section__card4{
        @extend .section__card;
        background-color: $card4;
       
    }

    .section__card5{
        @extend .section__card;
        background-color: $card5;

    }


    .section__box2{
        justify-content: center;
    }

    .section__box{
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .section__text{
        font-weight: bold;
        font-size: 20px;
        color: $white;
        text-align: center;
    }

    .section__subtitle{
        font-size: 2em;
        color: $white;
        letter-spacing: 2px;
        font-weight: bold;
    }

    .carousel-control-prev{
        color: $white;
        background-color: $carousel-control-color;
    }

    .carousel-control-next{
        color: $white;
        background-color: $carousel-control-color;
    }

}



