.section{
    margin-top: 2rem;
    margin-bottom: 1rem;

    .section__card{
        background-color: $card1;
        border-color: $black;
        border-radius: 10px;
        transition: all .3s ease-in-out;
        height: 100%;
        text-align: center;

        .section__card-title{
            font-size: 1.5em;
            text-transform: uppercase;
            font-weight: bold;

            @media (max-width: 500px) {
                font-size: 1em;
            }
            
        }

        .section__card-link:hover{
            transform: scale(1.05, 1.05);
            transform-origin: center center;
            color: $white;
            text-decoration: none;
        }

        .section__card-text{
            font-size: 16px;
        }


    }
          
    .section__card2{
        @extend .section__card;
        background-color: $card2;
       
    }

    .section__card3{
        @extend .section__card;
        background-color: $card3;
       
    }

    .section__card4{
        @extend .section__card;
        background-color: $card4;
       
    }

    .section__card5{
        @extend .section__card;
        background-color: $card5;

    }

    .section__card6{
        background-color: $card2;
        height: 100%;
    }

    .section__box{
        padding-top: 1rem;
        padding-bottom: 1rem;

        .section__subtitle{
            text-align: center;
            font-size: 2em;
            color: $white;
            letter-spacing: 2px;
            font-weight: bold;

            @media (max-width: 500px){
                font-size: 1em;
            }

        }

        .section__text{
            font-size: 20px;
            color: $white;
            text-align: center;

            @media (max-width: 500px){
                font-size: 16px;
            }

        }
       
    }

    .section__box2{
        justify-content: center;
    }

    .carousel-control-prev{
        color: $white;
        background-color: $carousel-control-color;
    }

    .carousel-control-next{
        color: $white;
        background-color: $carousel-control-color;
    } 
  
}

   


 
   






